{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}


    <body>
				
		
		<!-- End Header Area -->

		<!-- Main Menu Area -->
	
		<!-- Contact area -->
		<div class="contact-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="row">
							<div class="col-lg-12">
								<!-- Map area -->
								<div class="map-area">
									<div id="googleMap" style="width:100%;height:410px;"></div>
								</div><!-- End Map area -->
							</div>
						</div>
						<div class="row">
							<!-- contact info -->
							<div class="col-lg-6 col-md-12 col-12">
								<div class="contact-info">
									<h3>{% translate 'Contact info' %}</h3>
									<ul>
										<li>
											<i class="fa fa-map-marker"></i> <strong>{% translate 'Address' %}</strong>
											1234 Pall Mall Street, London England
										</li>
										<li>
											<i class="fa fa-envelope"></i> <strong>{% translate 'Phone' %}</strong>
											(800) 0123 4567 890
										</li>
										<li>
											<i class="fa fa-mobile"></i> <strong>Email</strong>
											<a href="#">admin@bootexperts.com</a>
										</li>
									</ul>
								</div>
							</div><!-- End contact info -->
							<div class="col-lg-6 col-md-12 col-12">
								<div class="contact-form">
									<h3><i class="fa fa-envelope-o"></i> {% translate 'Leave a Message' %}</h3>
                                    <!-- <form action="https://htmldemo.net/selphy/selphy/mail.php" method="post"> -->
										
											<form method="post">
												{% csrf_token %}
												{{form.as_p}}
												<button style="background-color: #0091d5; color: white; border: none; padding: 15px;" type="submit">{% translate 'Submit' %}</button>
											</form>
								</div>
                                    <!-- </form> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- End Eontact area -->
		<!-- Brand Area -->
		<div class="brand-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="brand-add">
							<a href="#"><img src="{% static 'images/brand-logo/bl5.webp' %}" alt="brand-logo"></a>
						</div>
					</div>
					<div class="col-lg-8">
						<!-- Brand Logo -->
						<div class="brand-logo">
							<div id="logo-carousel" class="owl-carousel">
								<a href="#"><img src="{% static 'images/brand-logo/bl1.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl2.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl3.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl4.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl1.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl2.webp' %}"alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl3.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl4.webp' %}" alt="brand-logo"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- End Brand Area -->	
		<!-- Footer Area -->
		
				
		
		
		
		
		
		<!-- jquery
		============================================ -->		
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <!-- Popper JS
		============================================ -->		
        <script src="js/popper.min.js"></script>
		<!-- bootstrap JS
		============================================ -->		
        <script src="js/bootstrap.min.js"></script>
		<!-- nivo slider js
		============================================ --> 
		<script src="js/jquery.nivo.slider.pack.js"></script>
		<!-- Mean Menu js
		============================================ -->         
        <script src="js/jquery.meanmenu.min.js"></script>
		<!-- price-slider JS
		============================================ -->		
        <script src="js/jquery-price-slider.js"></script>
		<!-- Simple Lence JS
		============================================ -->
		<script type="text/javascript" src="js/jquery.simpleGallery.min.js"></script>
		<script type="text/javascript" src="js/jquery.simpleLens.min.js"></script>	
		<!-- owl.carousel JS
		============================================ -->		
        <script src="js/owl.carousel.min.js"></script>
		<!-- scrollUp JS
		============================================ -->		
        <script src="js/jquery.scrollUp.min.js"></script>
		<!-- DB Click JS
		============================================ -->
        <script src="js/dbclick.min.js"></script>
		<!-- Countdown JS
		============================================ -->
        <script src="js/jquery.countdown.min.js"></script>
		<!-- Google Map js -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
		<script>
			function initialize() {
			  var mapOptions = {
				zoom: 15,
				scrollwheel: false,
				center: new google.maps.LatLng(23.81033, 90.41252)
			  };

			  var map = new google.maps.Map(document.getElementById('googleMap'),
				  mapOptions);


			  var marker = new google.maps.Marker({
				position: map.getCenter(),
				animation:google.maps.Animation.BOUNCE,
				icon: "{% static 'img/logo/marker.webp' %}",
				map: map
			  });

			}

			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
		<!-- plugins JS
		============================================ -->		
        <script src="js/plugins.js"></script>
		<!-- main JS
		============================================ -->		
        <script src="js/main.js"></script>
    </body>

<!-- Mirrored from htmldemo.net/selphy/selphy/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Jun 2023 15:06:19 GMT -->
</html>

{% endblock %}