{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
	
		<!-- Header Area -->
		<!-- End Header Area -->

		<!-- Main Menu Area -->
		<!-- End Main Menu Area -->
		<!-- Testmonial Area -->
		<div class="testmonial-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-12">
						<!-- Left Sidebar-->
						<div class="left-sidebar">
							<div class="left-sidebar-title">
								<h2>{% translate 'Shop By' %}</h2>
							</div>
							<!-- Shop Layout -->
							<div class="shop-layout">
								<div class="layout-title">
									<h2>{% translate 'Category' %}</h2>
								</div>
								<div class="layout-list">
									<ul>
										<li><a href="#">{% translate 'Dreeses' %}</a></li>
										<li><a href="#">{% translate 'Shoes' %}</a></li>
										<li><a href="#">{% translate 'Handbages' %}</a></li>
										<li><a href="#">{% translate 'Clothing' %}</a></li>
									</ul>
								</div>
							</div><!-- End Shop Layout Area -->
							<!-- Popular Tag Area -->
							<div class="popular-tag-area">
								<div class="tag-title">
									<h2>{% translate 'Popular Tags' %}</h2>
								</div>
								<!-- Shop Layout -->
								<div class="shop-layout">
									<div class="popular-tag">
										<div class="tag-list">
											<ul>
												<li><a href="#">{% translate 'Clothing' %}</a></li>
												<li><a href="#">{% translate 'accessories' %}</a></li>
												<li><a href="#">{% translate 'fashion' %}</a></li>
												<li><a href="#">{% translate 'footwear' %}</a></li>
												<li><a href="#">{% translate 'good' %}</a></li>
												<li><a href="#">{% translate 'kid' %}</a></li>
												<li><a href="#">{% translate 'Men' %}</a></li>
												<li><a href="#">{% translate 'Women' %}</a></li>
											</ul>
										</div>
										<div class="tag-action">
											<ul>
												<li><a href="#">{% translate 'View all tags' %}</a></li>
											</ul>
										</div>
									</div>
								</div><!-- End Shop Layout -->
							</div><!-- End Popular Tag Area -->
						</div><!-- End Left Sidebar -->
					</div>
					<div class="col-lg-9 col-md-12">
						<!-- Testmonial Area -->
						<div class="testmonial-inner product-tab-area">
							<div class="testimonial-head">
								<h2>{% trans 'Customer Testimonials' %}</h2>
								<button type="button" class="btn custom-button">Submit Your Testimonial</button>
							</div>
							<!-- Tab Bar -->
							<div class="tab-bar">
								<div class="toolbar">
									<div class="item-count">
										<p>4 Item's</p>
									</div>
									<div class="pager-list">
										<div class="limiter">
											<label>Show</label>
											<select>
												<option value="9">9</option>
												<option value="12">12</option>
												<option value="24">15</option>
												<option value="36">18</option>
											</select>
											per page
										</div>
									</div>
								</div>
							</div><!-- End Tab Bar -->
							<!-- Testmonials -->
							<div class="testmonials">
								<!-- Single Testmonials -->
								{% for a in all %}
								<div class="single-testmonial">
									<div class="testmonial-img">
										<img src="{{a.images.url}}" alt="client">
									</div>
									<div class="testmonial-content">
										<p>{{a.desc}}</p>
									</div>
									<div class="post-by">							
										<span class="testimonial-author">{{a.name}}</span>
										<span class="testimonial-date">{{a.date}}</span>
									</div>
								</div><!-- Single Testmonials -->
								{% endfor %}
							</div><!-- End Testmonials -->
							<!-- Tab Bar -->
							<div class="tab-bar tab-bar-bottom">
								<div class="toolbar">
									<div class="pages">
										<strong>Page:</strong>
										<ol>
											<li class="current">1</li>
											<li><a href="#">2</a></li>
											<li><a title="Next" href="#"><i class="fa fa-arrow-right"></i></a></li>
										</ol>
									</div>
								</div>
							</div><!-- End Tab Bar -->
						</div><!-- End Testmonial Area -->
					</div>
				</div>
			</div>
		</div><!-- End Testmonial Area -->
		<!-- Brand Area -->
		<div class="brand-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="brand-add">
							<a href="#"><img src="{% static 'images/brand-logo/bl5.webp' %}" alt="brand-logo"></a>
						</div>
					</div>
					<div class="col-lg-8">
						<!-- Brand Logo -->
						<div class="brand-logo">
							<div id="logo-carousel" class="owl-carousel">
								<a href="#"><img src="{% static 'images/brand-logo/bl1.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl2.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl3.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl4.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl1.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl2.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl3.webp' %}" alt="brand-logo"></a>
								<a href="#"><img src="{% static 'images/brand-logo/bl4.webp' %}" alt="brand-logo"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- End Brand Area -->	
		<!-- Footer Area -->
		
		
		
		
		
		
		
		
		
		
		<!-- Quickview Product -->
		<div id="quickview-wrapper">
			<!-- Modal -->
			<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
						</div>
						<div class="modal-body">
							<div class="modal-product">
								<div class="product-images">
									<div class="main-image images">
										<img alt="product" src="{% static 'images/products/s1.webp' %}">
									</div>
								</div><!-- End product-images -->
								<div class="product-info">
									<h1>Proin lectus ipsum</h1>
									<div class="ratings">
										<div class="rating-box">  
											<div class="rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>  
										</div>
									</div>
									<p class="rating-links">
										<a href="#">1 Review(s)</a>
										<span class="separator">|</span>
										<a href="#" class="add-to-review">Add Your Review</a>
									</p>
									<p class="availability in-stock">Availability: <span>In stock</span></p>
									<div class="quick-desc">
										Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt. Class aptent taciti
									</div>
									<div class="price-box">
										<p class="price"><span class="special-price"><span class="amount">$155.00</span></span></p>
									</div>
									<div class="quick-add-to-cart">
										<form method="post" class="cart">
											<div class="qty-button"> 	
												<input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
												
												<div class="box-icon button-plus"> 
													<input type="button" class="qty-increase " onclick="var qty_el = document.getElementById('qty'); var qty = qty_el.value; if( !isNaN( qty )) qty_el.value++;return false;" value="+">
												</div>	
												<div class="box-icon button-minus">
													<input type="button" class="qty-decrease" onclick="var qty_el = document.getElementById('qty'); var qty = qty_el.value; if( !isNaN( qty ) ) qty_el.value--;return false;" value="-">

												</div>
											</div>
											<div class="product-actions">
												<button class="button btn-cart" title="Add to Cart" type="button"><i class="fa fa-shopping-cart">&nbsp;</i><span>Add to Cart</span></button>
											</div>
										</form>
									</div>
									<div class="social-sharing">
										<div class="widget widget_socialsharing_widget">
											<h3 class="widget-title-modal">Share this product</h3>
											<ul class="social-icons">
												<li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
												<li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
												<li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
												<li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
												<li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
											</ul>
										</div>
									</div>
								</div><!-- End product-info -->
							</div><!-- End modal-product -->
						</div><!-- End modal-body -->
					</div><!-- End modal-content -->
				</div><!-- End modal-dialog -->
			</div><!-- End Modal -->
		</div><!-- End Quickview Product -->
				
		
		
		
		
		
	<!-- JS
    ============================================ -->


    </body>

<!-- Mirrored from htmldemo.net/selphy/selphy/testmonial.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Jun 2023 15:05:58 GMT -->
</html>
{% endblock %}